<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:f="http://java.sun.com/jsf/core" 
    xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="#{formId}">
        <p:dialog id="#{widgetName}" widgetVar="#{widgetName}" modal="true" resizable="false" closable="false" 
                dynamic="true" closeOnEscape="true">
            <p:ajax event="close" resetValues="true" update="grp" />

            <f:facet name="header">
                <h:outputText value="#{dialogTitle}" />
            </f:facet>

            <div class="ui-fluid">
                <p:panelGrid id="grp" styleClass="noBorders">
                    <p:row rendered="#{hierarchiesController.installationSlot}">
                        <p:column style="text-align: right">
                            <p:outputLabel for="compTypeSelect" value="Device type:" />
                        </p:column>
                        <p:column>
                            <h:panelGroup>
                                <p:autoComplete id="compTypeSelect" value="#{hierarchiesController.deviceType}"
                                                required="true" tabindex="1"
                                                requiredMessage="Please select a device type"
                                                disabled="#{not hierarchiesController.newSlot
                                                            and hierarchiesController.hasDevice}"
                                                dropdown="true" completeMethod="#{devicesController.completeCompType}"
                                                scrollHeight="300" />
                                <p:message for="compTypeSelect"/>
                            </h:panelGroup>
                        </p:column>
                    </p:row>
    
                    <p:row>
                        <p:column style="text-align: right">
                            <p:outputLabel value="Slot name:" 
                                rendered="#{hierarchiesController.installationSlot}" />
                            <p:outputLabel for="containerName" value="Container name:" 
                                rendered="#{not hierarchiesController.installationSlot}"/>
                        </p:column>
                        <p:column>
                            <h:panelGroup layout="block">
                                <p:panelGrid columns="2" styleClass="noPadding noBorders" style="width: 100%;">
                                    <p:autoComplete id="slotName" value="#{hierarchiesController.name}"
                                    		completeMethod="#{hierarchiesController.nameAutocompleteText}" 
                                            rendered="#{hierarchiesController.installationSlot}"
                                            forceSelection="#{hierarchiesController.restrictToConventionNames}" 
                                            tabindex="2" dropdown="true"
                                            maxResults="#{hierarchiesController.nameAutocompleteMaxResults}" 
                                            validator="#{hierarchiesController.validateInstallationSlot}" 
                                            required="true" requiredMessage="Please enter a slot name">
									    <!-- Process and update slotDesc to update description when switching installation slots. -->
                                        <p:ajax event="change" process="@this slotDesc" update="slotDesc" />
										<p:ajax event="itemSelect" process="@this slotDesc" update="slotDesc" />
                                    </p:autoComplete>
                                    
                                    <p:commandButton id="refreshNames" icon="ui-icon-refresh" title="Reload the Name List"
                                        rendered="#{hierarchiesController.installationSlot and hierarchiesController.namingEnabled}"
                                        action="#{hierarchiesController.refreshNamingInformation}" process="@this"
                                        onstart="templateDownloadStart();" oncomplete="templateDownloadStop();"
                                        update="slotName" style="width: 2em; margin-left: 1ex; float: right;" />
                                </p:panelGrid>
                                <p:message for="slotName" rendered="#{hierarchiesController.installationSlot}" />

                                <p:inputText id="containerName" rendered="#{not hierarchiesController.installationSlot}"
                                        value="#{hierarchiesController.name}" tabindex="2"
                                        validator="#{hierarchiesController.validateInstallationSlot}" 
                                        required="true" requiredMessage="Please enter a contanier name" />
                                <p:message for="containerName" rendered="#{not hierarchiesController.installationSlot}" />
                            </h:panelGroup>
                        </p:column>
                    </p:row>
    
                    <p:row>
                        <p:column style="text-align: right">
                            <p:outputLabel for="slotDesc" value="Description:" />
                        </p:column>
                        <p:column>
                            <h:panelGroup>
							    <!--
							    Enable required property when loading and submitting, but not otherwise so that
							    current description can be set on model when slots are changed and description updated. 
							    -->
                                <p:inputTextarea id="slotDesc" rows="5" maxlength="255" tabindex="3" 
	                                required="#{not empty param[formId += ':' += widgetName += '_contentLoad'] or not empty param[formId += ':save']}"
                                    requiredMessage="Please enter a description" autoResize="false"
                                    value="#{hierarchiesController.description}"/>
                                <br />
                                <p:message for="slotDesc" />
                            </h:panelGroup>
                        </p:column>
                    </p:row>
    
                    <p:row>
                        <p:column style="text-align: right">
                            <p:outputLabel for="parent" value="Parent:" />
                        </p:column>
                        <p:column>
                            <p:inputText id="parent" value="#{hierarchiesController.parentName}" disabled="true" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </div>
            <p:panel style="text-align: right; padding: 0; border: 0;" styleClass="dialogButtonPanel">
                <p:commandButton value="Save" styleClass="dialogButton defaultCommand" id="save" tabindex="4" 
                        oncomplete="if (args &amp;&amp; !args.validationFailed) { PF('#{widgetName}').hide();hierarchiesResizeAll(); scrollSelectedIntoView(PF('hierarchyWidget'));}" 
                        action="#{hierarchiesController[submitHandler]}" icon="ui-icon-disk" title="Save" 
                        update="grp :hierarchies:growl :hierarchies:hierarchyTabs 
                                :hierarchies:content:slotAttributes :hierarchies:content:installationDetails 
                                :hierarchies:content:relationsTable :hierarchies:content:addRelationship
                                :hierarchies:content:editRelationship :hierarchies:downButton :hierarchies:upButton 
                                :hierarchies:editButton :hierarchies:addButton :hierarchies:deleteButton  
                                :hierarchies:pasteButton :hierarchies:cutButton :hierarchies:copyButton" >
					<f:param name="validate" value="true" />
                </p:commandButton>
                <p:commandButton value="Cancel" styleClass="dialogButton" onclick="PF('#{widgetName}').hide();" update="grp" 
                        resetValues="true" tabindex="5" icon="ui-icon-close" title="Cancel" />
            </p:panel>

            <p:defaultCommand target="save" />
        </p:dialog>
    </h:form>

</ui:composition>
