<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="#{formId}" rendered="#{not empty empty relationshipController.addEditDialogRelationships}">
        <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true" width="45em" resizable="false" 
                closable="false" dynamic="true" closeOnEscape="true">
            <p:ajax event="close" resetValues="true" update=":hierarchies:hierarchyTabs" 
                listener="#{relationshipController.onRelationshipPopupClose}" oncomplete="hierarchiesResizeAll();" />

            <f:facet name="header">
                <h:outputText value="#{relationshipController.editExistingRelationship ? 'Edit' : 'Add'} relationship" />
            </f:facet>

            <p:panelGrid id="grid" style="text-align: left; margin-top: 1em;" styleClass="dialog-grid-panel noBorders">
                <p:row>
                    <p:column>
                        <p:dataTable widgetVar="#{widgetName}:sourcesTable" 
                                     value="#{relationshipController.sourceSlotNames}"
                                     class="dialogListTable" 
                                     filteredValue="#{relationshipController.filteredSourceSlotNames}" 
                                     var="name"
                                     scrollable="true" style="width: 100%; margin-bottom: 1em;">
                            <p:column headerText="Source Container/Slot" filterBy="#{name}" sortBy="#{name}"
                                      filterMatchMode="contains">
                                <h:outputText value="#{name}" />
                            </p:column>
                        </p:dataTable>
                    </p:column>
                </p:row>
                <p:row rendered="#{relationshipController.editExistingRelationship}">
                    <p:column>
                        <p:dataTable widgetVar="#{widgetName}:targetsTable" 
                                     value="#{relationshipController.targetSlotNames}"
                                     class="dialogListTable" 
                                     filteredValue="#{relationshipController.filteredTargetSlotNames}" 
                                     var="name"
                                     scrollable="true" style="width: 100%; margin-bottom: 1em;">
                            <p:column headerText="Current target Container/Slot" filterBy="#{name}" sortBy="#{name}"
                                      filterMatchMode="contains">
                                <h:outputText value="#{name}" />
                            </p:column>
                        </p:dataTable>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputPanel style="display: block; width: 100%; margin-top: 1em;">
                            <h:outputText value="New target Container/Slot"/>
                        </p:outputPanel>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:panelGrid styleClass="noBorders noPaddingLeft">
                            <p:row>
                                <p:column style="vertical-align: middle">
                                    <h:outputText value="Relationship type: "/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="relationshipTypeSelect" 
                                            value="#{relationshipController.selectedRelationshipName}">
                                        <f:selectItems value="#{relationshipController.relationshipTypesForDialog}" /> 
                                        <p:ajax />
            	                     </p:selectOneMenu>
                                 </p:column>
                             </p:row>
                         </p:panelGrid>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:tree value="#{relationshipController.containsTree.rootNode}" id="relationshipTree" dynamic="true" 
                                selectionMode="#{relationshipController.relationshipTreeSelectionMode}" 
                                var="slotView" style="width: 100%; height: 27em; overflow: auto;" selection="#{selectProperty}">
                            <p:ajax event="select" update=":#{formId}:relationshipTypeSelect :#{formId}:addButton" />
                            <p:ajax event="unselect" update=":#{formId}:relationshipTypeSelect :#{formId}:addButton" />

                            <p:treeNode>
                                <h:outputText value="" 
			                        style="display:inline-block; vertical-align:bottom !important" 
			                        styleClass="ui-icon ui-icon-wrench" 
			                        rendered="#{slotView.hostingSlot}" />
			                    <h:outputText value="" 
			                        style="display:inline-block; vertical-align:bottom !important" 
			                        styleClass="ui-icon ui-icon-folder-collapsed" 
			                        rendered="#{!slotView.hostingSlot}" />
                                <h:outputText value="#{slotView.name}" />
                            </p:treeNode>
                        </p:tree>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align: right; padding: 0 10px;">
                        <p:commandButton value="#{relationshipController.editExistingRelationship ? 'Save' : 'Add'}"
                            icon="#{relationshipController.editExistingRelationship ? 'ui-icon-disk' : 'ui-icon-plus'}" 
                            styleClass="dialogButton defaultCommand" id="addButton" disabled="#{empty selectProperty}" 
                            action="#{relationshipController.onRelationshipAdd}" title="Save" 
                            oncomplete="PF('#{widgetName}').hide(); hierarchiesResizeAll(); PF('relationshipsWidget').clearFilters();" 
                            update=":#{formId} :hierarchies:content:relationshipTable :hierarchies:content:editRelationship 
                                    :hierarchies:hierarchyTabs :hierarchies:growl" />
                        <p:commandButton value="Expand" id="expandButton" icon="ui-icon-folder-open" 
                            title="Expand Selected Items" action="#{relationshipController.expandTreeNodes}" 
                            styleClass="dialogButton" update=":#{formId}:relationshipTree" />
                        <p:commandButton value="Collapse" id="collapseButton" icon="ui-icon-folder-collapsed" 
                            title="Collapse Selected Items" action="#{relationshipController.collapseTreeNodes}" 
                            styleClass="dialogButton" update=":#{formId}:relationshipTree" />                            
                        <p:commandButton value="Cancel" styleClass="dialogButton" icon="ui-icon-close"
                            oncomplete="PF('#{widgetName}').hide();" title="Cancel" />
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:defaultCommand target="addButton" />
        </p:dialog>
    </h:form>
</ui:composition>
