<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
            
    <h:form id="#{formId}">
        <p:dialog widgetVar="duplicateDialog" id="duplicateDialog" modal="true" resizable="false" dynamic="true"
                closable="false" class="dialogWithList" closeOnEscape="true" 
                onShow="resizeDeleteList('#{formId}');PF('duplicateDialog:table').clearFilters();">
            <p:ajax event="close" oncomplete="#{closeDialogActions}" />

            <f:facet name="header">
                <h:outputText value="Duplicate" />
            </f:facet>

            <p:outputPanel style="display: block; width: 40em; margin-bottom: 1.2em;">
                <h:outputText value="Please select new names for the duplicated device types" />                
            </p:outputPanel>
            
            <p:dataTable id="devicesTable" widgetVar="duplicateDialog:table" value="#{duplicateList}" class="dialogListTable"
                  var="entity" scrollable="true" style="width: 40em; margin-bottom: 1em;" 
                  filteredValue="#{filteredDuplicateList}">
                <p:column headerText="#{entityName}">
                    <h:outputText value="#{entity.deviceType.name}" />
                </p:column>
                <p:column headerText="New device name:">
                    <p:inputText id="deviceTypeName" value="#{entity.newName}" style="width: 100%;"
                    required="true"
                    requiredMessage="Please enter a name"
                    validator="#{controller.validateDeviceTypeName}">
                    <p:ajax event="blur" />  
                    </p:inputText>
                    <p:message for="deviceTypeName" />

                </p:column>
            </p:dataTable>

            <p:panel style="text-align: right; padding: 0; border: 0;" styleClass="dialogButtonPanel">
                <p:commandButton value="Duplicate" id="confirm" styleClass="dialogButton defaultCommand" icon="ui-icon-check" 
                    update="#{formsToUpdate} #{componentToUpdate} devicesTable" onstart="PF('statusDialog').show();" 
                    oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('duplicateDialog').hide();} PF('statusDialog').hide(); #{closeDialogActions}"
                    action="#{controller.duplicate}"
                    title="Duplicate" >
                    <f:param name="validate" value="true" />
                </p:commandButton>    
                <p:commandButton value="Cancel" styleClass="dialogButton" icon="ui-icon-close" title="Cancel" 
                    onclick="PF('duplicateDialog').hide(); #{closeDialogActions}" />
            </p:panel>

            <p:defaultCommand target="confirm" />
        </p:dialog>
    </h:form>
</ui:composition>
