<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:f="http://java.sun.com/jsf/core" 
    xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="#{formId}">
        <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true" resizable="false" dynamic="true" 
                width="55em" closeOnEscape="true" closable="false">
            <p:ajax event="close" resetValues="true" update=":#{formId}" 
                listener="#{installationController.setDeviceToInstall(null)}" />

            <f:facet name="header">
                <h:outputText value="#{dialogTitle}" />
            </f:facet>

            <p:panelGrid styleClass="noBorders">
                <p:row>
                    <p:column>
                        <h:outputText value="Device type: " />
                    </p:column>
                    <p:column>
                        <h:outputText value="#{slot.componentType.name}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <h:outputText value="Slot path: " />
                    </p:column>
                    <p:column>
                        <h:outputText value="#{installationController.getInstallationSlotPath()}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">
                        <p:dataTable var="device" value="#{installationController.uninstalledDevices}" 
                                selectionMode="single" selection="#{installationController.deviceToInstall}" 
                                rowKey="#{device.id}" scrollable="true" scrollHeight="180" 
                                filteredValue="#{installationController.filteredUninstalledDevices}" 
                                emptyMessage="No records found.">
                            <p:ajax event="rowSelect" update=":#{formId}:installButton" />
                            <p:ajax event="rowUnselect" update=":#{formId}:installButton" />
                            <p:column headerText="Inventory Id" sortBy="#{device.serialNumber}" 
                                    filterBy="#{device.serialNumber}" filterMatchMode="contains">
                                <h:outputText value="#{device.serialNumber}" />
                            </p:column>
                        </p:dataTable>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">
                        <p:panel style="text-align: right; padding: 0; border: 0;" styleClass="dialogButtonPanel">
                            <p:commandButton id="installButton" styleClass="dialogButton defaultCommand" title="Install" 
                                label="Install" disabled="#{empty installationController.deviceToInstall}" value="Install" 
                                action="#{installationController.installDevice()}" update="#{componentToUpdate} :#{formId}" 
                                oncomplete="PF('#{widgetName}').hide(); PF('installationWidget').clearFilters(); hierarchiesResizeAll(); #{resetFilter}" 
                                icon="ui-icon-play" />
                            <p:commandButton value="Cancel" label="Cancel" title="Cancel" styleClass="dialogButton" 
                                onclick="PF('#{widgetName}').hide();" resetValues="true" update=":#{formId}"
                                action="#{installationController.setDeviceToInstall(null)}" icon="ui-icon-close" />
                        </p:panel>

                        <p:defaultCommand target="installButton" />
                    </p:column>
                </p:row>
            </p:panelGrid>

        </p:dialog>
    </h:form>
</ui:composition>