<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="#{formId}">
        <p:remoteCommand name="#{formId}_updateToggle" actionListener="#{comptypeAttributesController.updateToggle()}" 
            update=":#{formId}:propertySelect:toggleAll" />
        <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true" resizable="false" closable="false" 
                dynamic="true" styleClass="property-selection">

            <f:facet name="header">
                <h:outputText value="#{dialogTitle}" />
            </f:facet>

            <p:messages id="inputValidationFail" showDetail="true"  ><p:autoUpdate /> </p:messages>
            <p:panel style="border: 0; width: 80em;">
                <p:dataTable id="propertySelect" value="#{comptypeAttributesController.filteredPropertyValues}" var="prop"  
                        editable="true" editMode="cell" tableStyle="word-wrap: break-word;" resizableColumns="true" 
                        styleClass="noScrollTable"
                        widgetVar="#{formId}_propSelectTable" scrollHeight="350" scrollWidth="100%" scrollable="true" 
                        filteredValue="#{comptypeAttributesController.selectionPropertyValuesFiltered}">                        
                    <p:ajax event="cellEdit" listener="#{comptypeAttributesController.onEditCell}" 
                        update=":#{formId}:propertySelect" />
                    <p:ajax event="filter" oncomplete="#{formId}_updateToggle();" />

                    <p:column id="rowSelection" width="4%">
                        <f:facet name="header">
                            <p:selectBooleanCheckbox id="toggleAll" value="#{comptypeAttributesController.selectAllRows}">
                                <p:ajax listener="#{comptypeAttributesController.handleToggleAll}" 
                                    immediate="true" 
                                    oncomplete="#{formId}_updateToggle();"/>
                            </p:selectBooleanCheckbox>
                        </f:facet>
                        <p:selectBooleanCheckbox value="#{prop.selected}" id="propSelection">
                            <p:ajax update=":#{formId}:propertySelect" oncomplete="#{formId}_updateToggle();" 
                                listener="#{comptypeAttributesController.rowSelectListener(prop)}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>
                    <p:column id="propNameCol" headerText="Property" width="20%" sortBy="#{prop.name}" 
                            filterBy="#{prop.name}" filterMatchMode="contains">
                        <h:outputText value="#{prop.name}"/>
                    </p:column>
                    <p:column headerText="Description" width="38%" sortBy="#{prop.description}" 
                            filterBy="#{prop.description}" filterMatchMode="contains">
                        <h:outputText value="#{prop.description}" />
                    </p:column>
                    <p:column headerText="Data Type" width="10%" sortBy="#{prop.dataType.name}" 
                            filterBy="#{prop.dataType.name}" filterMatchMode="contains">
                        <h:outputText value="#{prop.dataType.name}" />
                    </p:column>
                    <p:column headerText="Unit" width="8%" sortBy="#{prop.unit.name}" 
                            filterBy="#{prop.unit.name}" filterMatchMode="contains">
                        <h:outputText value="#{not empty prop.unit ? prop.unit.name : '-'}" />
                    </p:column>
                    <p:column headerText="#{valueStr}" width="20%">
                        <p:cellEditor rendered="#{prop.selected}">
                            <f:facet name="output">
                                <h:outputText value="#{comptypeAttributesController.displayPropertyValue(prop)}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="propertyValueSimple" value="#{prop.uiValue}" rendered="#{prop.propertyValueUIElement eq 'INPUT'}" />

                                <p:inputTextarea id="propertyValueArea" rows="7" value="#{prop.uiValue}" 
                                        style="width: 90%; white-space: pre; resize: none;" autoResize="false" 
                                        rendered="#{prop.propertyValueUIElement eq 'TEXT_AREA'}" />

                                <p:selectOneMenu id="propertyValueEnum" style="width: 90%;" value="#{prop.uiValue}" 
                                        rendered="#{prop.propertyValueUIElement eq 'SELECT_ONE_MENU'}">
                                    <f:selectItem itemLabel="Select One" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{prop.enumOptions}" var="enum" itemLabel="#{enum}" itemValue="#{enum}" />
                                </p:selectOneMenu>
                                
                                <p:calendar id="propertyValueCalendar" value="#{prop.uiValueAsDate}" pattern="#{msgs.timestampFormat}"
                                	timeZone="UTC" rendered="#{prop.propertyValueUIElement eq 'CALENDAR'}" />
                            </f:facet>
                        </p:cellEditor>
                        <h:outputText value="-" rendered="#{!prop.selected}" />
                    </p:column>
                </p:dataTable>
            </p:panel>

            <p:panel style="text-align: right; padding: 0 1.5em 0 0; border: 0;" styleClass="dialogButtonPanel">
                <p:commandButton value="Save" id="save" styleClass="dialogButton manualEnableButton" icon="ui-icon-disk" title="Save" 
                        oncomplete="if (args &amp;&amp; !args.validationFailed) { PF('#{widgetName}').hide(); #{resetFilter} } enableButton();" 
                        action="#{comptypeAttributesController[submitHandler]}" update="#{componentToUpdate} propertySelect" />
                <p:commandButton value="Cancel" styleClass="dialogButton" update=" #{componentToUpdate} propertySelect" 
                        resetValues="true" action="#{comptypeAttributesController.resetPropertySelection(formId)}" 
                        oncomplete="PF('#{widgetName}').hide(); PF('#{formId}_propSelectTable').clearFilters(); #{resetFilter}" 
                        icon="ui-icon-close" title="Cancel" />
            </p:panel>
        </p:dialog>
    </h:form>
</ui:composition>