<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="#{formId}">
        <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true" resizable="false" closable="false" 
                dynamic="true" closeOnEscape="true">
            <p:ajax event="close" resetValues="true" update="grp" oncomplete="#{resetFilter}" 
                listener="#{controller.resetFields()}" />

            <f:facet name="header">
                <h:outputText value="#{dialogTitle}" />
            </f:facet>
            <div class="ui-fluid">
                <p:panelGrid id="grp" rendered="#{not empty controller.dialogAttrPropertyValue}" 
                        styleClass="dialog-grid-panel noBorders" columns="2" 
                        columnClasses="alignRight alignMiddle dialog-labels-width-2, noPaddingRight">

                    <p:outputLabel for="propertySelect" value="Property:" />
                    <h:outputText value="#{controller.dialogAttrPropertyValue.property.name}" 
                            rendered="#{controller.dialogAttrPropertyValue.propertyNameChangeDisabled}" />
                    <h:panelGroup rendered="#{not controller.dialogAttrPropertyValue.propertyNameChangeDisabled}">
                        <p:selectOneMenu id="propertySelect" value="#{controller.dialogAttrPropertyValue.property}" 
                                var="prop" converter="#{propertyConverter}" required="true" 
                                requiredMessage="Please select a property" filter="true" filterMatchMode="contains" 
                                disabled="#{controller.dialogAttrPropertyValue.propertyNameChangeDisabled}">
                            <p:ajax update=":#{formId}:propertyUnit :#{formId}:propertyDataType :#{formId}:valueInputGroup"/>
                            <f:selectItem itemLabel="Select One" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{controller.filteredProperties}" var="property" 
                                itemLabel="#{property.name}" itemValue="#{property}" />
                            <p:column>  
                                #{prop.name}
                            </p:column>
                        </p:selectOneMenu>
                        <p:message for="propertySelect"/>
                    </h:panelGroup>

                    <p:outputLabel value="Value:" />
                    <h:panelGroup id="valueInputGroup">
                        <h:outputText id="propertyValueNoProp" rendered="#{controller.dialogAttrPropertyValue.propertyValueUIElement eq 'NONE'}" 
                                value="Select a property first." />
                        <p:inputText id="propertyValueSimple" value="#{controller.dialogAttrPropertyValue.propertyValue}" required="true"
                                requiredMessage="Please enter a property value" validator="#{controller.dialogAttrPropertyValue.inputValidator}" 
                                rendered="#{controller.dialogAttrPropertyValue.propertyValueUIElement eq 'INPUT'}" tabindex="2" />
                        <p:message for="propertyValueSimple" rendered="#{controller.dialogAttrPropertyValue.propertyValueUIElement eq 'INPUT'}"/>

                        <p:inputTextarea id="propertyValueArea" value="#{controller.dialogAttrPropertyValue.propertyValue}" 
                            required="true" rows="7" cols="40" style="white-space: pre; resize: none;" 
                            autoResize="false" requiredMessage="Please enter a property value" 
                            validator="#{controller.dialogAttrPropertyValue.areaValidator}" tabindex="2" 
                            rendered="#{controller.dialogAttrPropertyValue.propertyValueUIElement eq 'TEXT_AREA'}" />
                        <p:message for="propertyValueArea" rendered="#{controller.dialogAttrPropertyValue.propertyValueUIElement eq 'TEXT_AREA'}"/>

                        <p:selectOneMenu id="propertyValueEnum" required="true" tabindex="2" 
                                value="#{controller.dialogAttrPropertyValue.propertyValue}" 
                                rendered="#{controller.dialogAttrPropertyValue.propertyValueUIElement eq 'SELECT_ONE_MENU'}">
                            <f:selectItems value="#{controller.dialogAttrPropertyValue.enumSelections}" var="enum" 
                                itemLabel="#{enum}" itemValue="#{enum}" />
                        </p:selectOneMenu>
                        <p:message for="propertyValueEnum" 
                            rendered="#{controller.dialogAttrPropertyValue.propertyValueUIElement eq 'SELECT_ONE_MENU'}" />
			            <p:messages id="propertyValidationMessage" showDetail="true" for="propertyValidationMessage"  ><p:autoUpdate /> </p:messages>

                        <p:calendar id="propertyValueCalendar" value="#{controller.dialogAttrPropertyValue.propertyDate}" required="true"
                        		pattern="#{msgs.timestampFormat}" timeZone="UTC" 
                                requiredMessage="Please enter a property value" validator="#{controller.dialogAttrPropertyValue.inputValidator}" 
                                rendered="#{controller.dialogAttrPropertyValue.propertyValueUIElement eq 'CALENDAR'}" tabindex="2" />
                        <p:message for="propertyValueCalendar" rendered="#{controller.dialogAttrPropertyValue.propertyValueUIElement eq 'CALENDAR'}"/>
                    </h:panelGroup>

                    <p:outputLabel value="Data type:" />
                    <p:inputText disabled="true" id="propertyDataType" tabindex="3" 
                        value="#{controller.dialogAttrPropertyValue.property.dataType.name}" />

                    <p:outputLabel value="Unit:" />
                    <p:inputText disabled="true" id="propertyUnit" tabindex="4" 
                        value="#{controller.dialogAttrPropertyValue.property.unit.name}"/>

                </p:panelGrid>
            </div>

            <p:panel style="text-align: right; padding: 0; border: 0;" styleClass="dialogButtonPanel">
                <p:commandButton value="Save" id="save" styleClass="dialogButton defaultCommand" icon="ui-icon-disk" title="Save"
                        oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('#{widgetName}').hide(); #{resetFilter}}" 
                        actionListener="#{controller[submitHandler]}" tabindex="5" update="#{componentToUpdate} grp" />
                <p:commandButton value="Cancel" styleClass="dialogButton" onclick="PF('#{widgetName}').hide();" 
                        tabindex="6" icon="ui-icon-close" title="Cancel" />
            </p:panel>

            <p:defaultCommand target="save" />
        </p:dialog>
    </h:form>
</ui:composition>
