<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:rc="http://java.sun.com/jsf/composite/comps"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">

        <script type="text/javascript">
        // <![CDATA[
        function templateDownloadStart() {
            PF('statusDialog').show();
        }
        function templateDownloadStop() {
            PF('statusDialog').hide();
        }
        // ]]>
        </script>

        <p:growl id="menumsgs" showDetail="true" />

		<div class="app_header">
			    <div class="logo">
		            <h:outputText value="#{msgs.title}" styleClass="gui-title"/>
			    </div>
			    <div>
		            <ui:include src="/template/includes/tabmenu.xhtml" />
			    </div>
			    <div>
		            <ui:include src="/template/includes/dropmenu.xhtml" />
			    </div>
			</div>  


</ui:composition>
