<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:f="http://java.sun.com/jsf/core" 
                xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="#{formId}" enctype="multipart/form-data">
        <p:dialog widgetVar="#{widgetName}" modal="true" resizable="false" width="35%" closeOnEscape="true">
            <f:facet name="header">
                <h:outputText value="#{dialogTitle}" />
            </f:facet>
            <h:panelGroup id="grp" layout="block">
                <h:panelGroup rendered="#{controller.excelImportFileName == null}" layout="block" 
                    style="padding: 0 0 7px 0">Please choose an Excel file (*.xlsx) to import data from.</h:panelGroup>
                <p:fileUpload id="singleFileDLUploadCtl" fileUploadListener="#{controller.handleImportFileUpload}" 
                    update="grp importStatsDialog" mode="advanced" auto="true" fileLimit="1" 
                    dragDropSupport="true" allowTypes="/(\.|\/)(xlsx)$/" oncomplete="PF('importStatsDialog').show();"
                    rendered="#{controller.excelImportFileName == null}" />
                <h:outputText value="#{controller.excelImportFileName}" />
                <p:separator />
                <p:commandButton value="Cancel" styleClass="dialogButton" onclick="PF('#{widgetName}').hide();" 
                    icon="ui-icon-close" />
                <p:commandButton value="Import" styleClass="dialogButton defaultCommand" id="importButton" 
                    update=":#{formId}" oncomplete="PF('#{widgetName}').hide();PF('statusDialog').hide();" 
                    action="#{controller.doImport()}" disabled="#{controller.excelImportFileName == null}" 
                    onclick="PF('statusDialog').show()" icon="ui-icon-arrowthickstop-1-n" />
            </h:panelGroup>
            
            <p:defaultCommand target="importButton" />
        </p:dialog>

        <p:dialog id="importStatsDialog" widgetVar="importStatsDialog" modal="true" resizable="false">
            <f:facet name="header">
                <h:outputText value="File uploaded" />
            </f:facet>
            <p:panelGrid style="margin-bottom: 1em;" styleClass="noBorders">
                <p:row>
                    <p:column styleClass="alignRight">
                        <h:outputText value="Data rows:" />
                    </p:column>
                    <p:column style="width: 5em;">
                        <h:outputText value="#{controller.importFileStatistics.dataRows}" />
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="alignRight">
                        <h:outputText value="Create rows:" />
                    </p:column>
                    <p:column style="width: 5em;">
                        <h:outputText value="#{controller.importFileStatistics.createRows}" />
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="alignRight">
                        <h:outputText value="Update rows:" />
                    </p:column>
                    <p:column style="width: 5em;">
                        <h:outputText value="#{controller.importFileStatistics.updateRows}" />
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="alignRight">
                        <h:outputText value="Delete rows:" />
                    </p:column>
                    <p:column style="width: 5em;">
                        <h:outputText value="#{controller.importFileStatistics.deleteRows}" />
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="alignRight">
                        <h:outputText value="Skipped rows:" />
                    </p:column>
                    <p:column style="width: 5em;">
                        <h:outputText 
                            value="#{controller.importFileStatistics.dataRows - controller.importFileStatistics.importRows}" />
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:commandButton value="Close" type="button" styleClass="dialogButton" title="Close" 
                    onclick="PF('importStatsDialog').hide();" icon="ui-icon-close" />
        </p:dialog>

        <p:dialog id="resultDialog" widgetVar="resultDialog" modal="true" style="max-width: 90%; max-height: 600px;" 
                visible="#{controller.excelImportFileName != null and controller.loaderResult != null}" resizable="false" 
                closable="false">  
            <f:facet name="header">
                <h:outputText style="#{controller.loaderResult.error ? 'color: red !important;' : ''}" 
                    value="#{!controller.loaderResult.error ? 'Import Successful' : 'Error in Import Spreadsheet'}" />
            </f:facet>

            <p:panel styleClass="noBorders para">
                <h:panelGroup rendered="#{controller.loaderResult.error}" layout="block">
                    Data cannot be imported since there are some errors in the spreadsheet. 
                    Please correct the errors and try the import again.
                </h:panelGroup>
                <h:panelGroup rendered="#{!controller.loaderResult.error}" layout="block">
                    Data was successfully imported.
                </h:panelGroup>
            </p:panel>

            <p:dataTable value="#{controller.loaderResult.messages}" var="errorRow" scrollable="true" scrollHeight="180" 
                    filteredValue="#{controller.loaderResult.filteredMessages}"
                    style="max-width: 100%; margin-bottom: 1em; width: 58em;" rendered="#{controller.loaderResult.error}">
                <p:column headerText="Row" width="15%" filterBy="#{errorRow.row}" filterMatchMode="contains" 
                        sortBy="#{errorRow.row}">
                    <h:outputText value="#{errorRow.row}" styleClass="#{errorRow.error ? '' : 'messageWarning'}" />
                </p:column>
                <p:column headerText="Column" width="15%" filterBy="#{errorRow.column}" filterMatchMode="contains" 
                        sortBy="#{errorRow.column}">
                    <h:outputText value="#{errorRow.column}" styleClass="#{errorRow.error ? '' : 'messageWarning'}" />
                </p:column>
                <p:column headerText="Value" width="15%" filterBy="#{errorRow.value}" filterMatchMode="contains" 
                        sortBy="#{errorRow.value}">
                    <h:outputText value="#{empty errorRow.value ? '&lt;undefined&gt;' : errorRow.value}"
                         styleClass="#{errorRow.error ? '' : 'messageWarning'}" />
                </p:column>
                <p:column headerText="Error" width="55%" filterBy="#{errorRow.message.toString()}" 
                        filterMatchMode="contains" sortBy="#{errorRow.message.toString()}">
                    <h:outputText value="#{errorRow.message.toString()}" styleClass="#{errorRow.error ? '' : 'messageWarning'}" />
                </p:column>
            </p:dataTable>

            <p:panelGrid style="margin-bottom: 1em;" styleClass="noBorders" 
                    rendered="#{!controller.loaderResult.error}">
                <p:row>
                    <p:column styleClass="alignRight">
                        <h:outputText value="Data rows:" />
                    </p:column>
                    <p:column style="width: 5em;">
                        <h:outputText value="#{controller.importFileStatistics.dataRows}" />
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="alignRight">
                        <h:outputText value="Create rows:" />
                    </p:column>
                    <p:column style="width: 5em;">
                        <h:outputText value="#{controller.importFileStatistics.createRows}" />
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="alignRight">
                        <h:outputText value="Update rows:" />
                    </p:column>
                    <p:column style="width: 5em;">
                        <h:outputText value="#{controller.importFileStatistics.updateRows}" />
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="alignRight">
                        <h:outputText value="Delete rows:" />
                    </p:column>
                    <p:column style="width: 5em;">
                        <h:outputText value="#{controller.importFileStatistics.deleteRows}" />
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="alignRight">
                        <h:outputText value="Skipped rows:" />
                    </p:column>
                    <p:column style="width: 5em;">
                        <h:outputText 
                            value="#{controller.importFileStatistics.dataRows - controller.importFileStatistics.importRows}" />
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:commandButton value="Close" type="button" styleClass="dialogButton" onclick="PF('resultDialog').hide();" 
                    style="margin-top: 1ex;" icon="ui-icon-close" title="Close">
                <p:ajax disabled="#{requestUrl != 'devices.xhtml'}"
                    update=":devicesForm:devicesTable :devicesForm:attributesDataTable:attributesDataTable" 
                    oncomplete="PF('devicesTableVar').clearFilters();PF('attributesDataTable').clearFilters();" />
                <p:ajax disabled="#{requestUrl != 'device-types.xhtml'}"
                    update=":deviceTypesForm:deviceTypeTable :deviceTypesForm:attributesDataTable:attributesDataTable"
                    oncomplete="PF('deviceTypeTableVar').clearFilters();PF('attributesDataTable').clearFilters();" />
                <p:ajax disabled="#{requestUrl != 'properties.xhtml'}"
                    update=":propertiesForm:propertiesTable" oncomplete="PF('propertiesTableVar').clearFilters();" />
                <p:ajax disabled="#{requestUrl != 'enums.xhtml'}" update=":enumsForm:enumsTable"
                    oncomplete="PF('enumsTableVar').clearFilters();" />
                <p:ajax disabled="#{requestUrl != 'units.xhtml'}" update=":unitsForm:unitsTable"
                    oncomplete="PF('unitsTableVar').clearFilters();" />
                <p:ajax disabled="#{requestUrl != 'home.xhtml'}"
                    update=":hierarchies:hierarchyTabs :hierarchies:content:attributesDataTable:attributesDataTable 
                            :hierarchies:content:relationsTable :hierarchies:content:installationDetails" 
                    oncomplete="hierarchiesResizeAll();" />
            </p:commandButton>
            <p:commandButton id="exportButton" icon="ui-icon-disk" value="Export" title="Export" 
                styleClass="dialogButton" style="margin-top: 1ex;" oncomplete="PF('#{formId}_exportErrors').show();" 
                rendered="#{controller.loaderResult.error}" update=":#{formId}_exportErrorsForm:#{formId}_exportErrors" 
                actionListener="#{controller.simpleErrorTableExportDialog.prepareTableExportPopup}" />
        </p:dialog>
    </h:form>

    <ui:include src="/resources/dialogs/export-table.xhtml">
        <!-- the order has to be "widgetName" before "formId" -->
        <ui:param name="widgetName" value="#{formId}_exportErrors" />
        <ui:param name="formId" value="#{formId}_exportErrorsForm" />
        <ui:param name="dialogTitle" value="Export errors table" />
        <ui:param name="fileFormatSelection" value="#{controller.simpleErrorTableExportDialog.fileFormat}" />
        <ui:param name="includeHeader" value="#{controller.simpleErrorTableExportDialog.includeHeaderRow}" />
        <ui:param name="tableFile" value="#{controller.simpleErrorTableExportDialog.exportedTable}" />
    </ui:include>
</ui:composition>
