<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="/template/template.xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:rc="http://java.sun.com/jsf/composite/comps"
    xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">
        <h:form id="devicesForm">
            <p:growl id="growl" showDetail="true" globalOnly="true"/>
            <p:panelGrid styleClass="noBorders noPadding">
                <p:row>
                    <p:column style="width: 50vw; vertical-align: top; padding-right: 1em !important">
                        <p:fieldset id="deviceFieldset"  style="box-sizing: border-box; height: calc(100vh - 7em)">  
                            <f:facet name="legend">
                                 <p:outputLabel value="Devices"/>
                                 <p:outputLabel for="@next" value="Show only not installed" style="margin-left: 2em;"/>
                                 <p:selectBooleanCheckbox id="onlyNotInstalled"

                                                     value="#{devicesController.showOnlyNotInstalled}"
                                                     style="margin-left: 0.5em;">
                                 <p:ajax listener="#{devicesController.handleShowNotInstalled}" 
                                    immediate="true"
                                    update="devicesForm"/>
                                 </p:selectBooleanCheckbox>
                            </f:facet>

                            <div style="height: calc(100% - 3em)">

                                <p:dataTable id="devicesTable" var="device" widgetVar="devicesTableVar" scrollWidth="100%" 
                                        value="#{devicesController.lazyModel}" scrollable="true" 
                                        scrollHeight="100%" emptyMessage="No records found." 
                                        selection="#{devicesController.selectedDevices}" selectionMode="multiple"
                                        rowKey="#{device.device.id}" resizableColumns="true" sortBy="#{device.device.componentType.name}"
                                        tableStyle="word-wrap: break-word;" style="overflow: hidden" 
                                        lazy="true" liveScroll="true" scrollRows="200" rows="200" 
                                        rowStyleClass="#{devicesController.showOnlyNotInstalled and !empty device.installedSlotId ? 'ui-helper-hidden' : ''}">
                                    <p:ajax event="rowSelect" listener="#{devicesController.onRowSelect}" 
                                            onstart="tablePreSelect('devicesTableVar');" 
                                            oncomplete="PF('attributesDataTable').clearFilters(); copyTableSelection('devicesTableVar');" 
                                            update=":devicesForm:deleteButton :devicesForm:editButton :devicesForm:addButton 
                                                    :devicesForm:deleteAttrButton :devicesForm:editAttrButton 
                                                    :devicesForm:attributesDataTable:attributesDataTable 
                                                    :devicesForm:duplicateButton" />
                                    <p:ajax event="rowUnselect" listener="#{devicesController.onRowSelect}" 
                                            onstart="tablePreDeselect('devicesTableVar');" 
                                            oncomplete="PF('attributesDataTable').clearFilters(); copyTableSelection('devicesTableVar');" 
                                            update=":devicesForm:deleteButton :devicesForm:editButton :devicesForm:addButton 
                                                    :devicesForm:deleteAttrButton :devicesForm:editAttrButton 
                                                    :devicesForm:attributesDataTable:attributesDataTable 
                                                    :devicesForm:duplicateButton" />
                                    <p:ajax event="filter" oncomplete="resetLiveTableState(PF('devicesTableVar')); saveFilter();" />

                                    <p:column headerText="Device Type - Description" sortBy="#{device.device.componentType.name}" 
                                            filterBy="#{device.device.componentType.name}" filterMatchMode="contains">
                                            <f:facet name="filter">
                                                <p:inputText id="deviceTypeFilter" onkeyup="PF('devicesTableVar').filter()"/>
                                            </f:facet>
                                        <h:link outcome="deviceTypesManager" class="link" 
                                                onclick="handleTypeSelection('#{device.device.id}', '#{device.device.componentType.id}');"
                                                value="#{device.device.componentType.name} - #{device.device.componentType.description}" >
                                            <f:param name="id" value="#{device.device.componentType.id}" />
                                        </h:link>
                                    </p:column>

                                    <p:column headerText="Device" sortBy="#{device.inventoryId}" 
                                            filterBy="#{device.inventoryId}" filterMatchMode="contains">
                                            <f:facet name="filter">
                                                <p:inputText id="deviceFilter" onkeyup="PF('devicesTableVar').filter()"/>
                                            </f:facet>
                                        <h:outputText value="#{device.inventoryId}" />
                                    </p:column>

                                    <p:column headerText="Slot" sortBy="#{device.installedIn}" 
                                            filterBy="#{device.installedIn}" filterMatchMode="contains">
                                            <f:facet name="filter">
                                                <p:inputText id="slotFilter" onkeyup="PF('devicesTableVar').filter()"/>
                                            </f:facet>
                                        <h:outputLink rendered="#{!empty device.installedSlotId}" 
                                                value="#{request.contextPath}/?id=#{device.installedSlotId}" onclick="PF('statusDialog').show();">
                                            <h:outputText value="#{device.installedIn}" style="text-decoration: underline;" />

                                        </h:outputLink>
                                        <h:outputText value="-" rendered="#{empty device.installedSlotId}" />
                                        <p:link rendered="#{!empty devicesController.chessUrl and !empty device.installedSlotId}" target="_blank" 
                                                            href="#{devicesController.chessUrl}#{device.installedIn}" title="Open in Chess">
                                            <h:outputText value="#{empty devicesController.chessUrl}" rendered="#{!empty devicesController.chessUrl and !empty device.installedSlotId}" 
                                                style="display:inline-block; vertical-align:bottom !important; margin-left: 1ex;"
                                                styleClass="ui-icon ui-icon-extlink"/>
                                        </p:link>
                                    </p:column>

                                    <p:column headerText="Installation Timestamp" sortBy="#{device.installationDate}" 
                                            filterBy="#{device.installationDate}" filterMatchMode="contains">
                                            <f:facet name="filter">
                                                <p:inputText id="installationTimestampFilter" onkeyup="PF('devicesTableVar').filter()"/>
                                            </f:facet>
                                        <h:outputText value="#{device.installationDate}" />
                                    </p:column>
                                </p:dataTable>
                            </div>

                            <p:panel styleClass="buttonPanel">
                                <p:commandButton value="Add" icon="ui-icon-plus" 
                                    actionListener="#{devicesController.clearDeviceDialogFields()}" 
                                    disabled="#{not securityPolicy.getUIHint('DEVICES_CREATE')}" title="Add device"
                                    oncomplete="PF('addDeviceDialog').show();" update=":deviceAddForm:addDeviceDialog" />
                                <p:commandButton id="editButton" 
                                    value="Edit" title="Edit device" icon="ui-icon-pencil" 
                                    action="#{devicesController.prepareEditPopup()}" 
                                    update=":deviceEditForm" oncomplete="PF('editDeviceDialog').show();" 
                                    disabled="#{not devicesController.singleDeviceSelected or not securityPolicy.getUIHint('DEVICES_MODIFY')}" />
                                <p:commandButton id="deleteButton" 
                                    value="Delete" icon="ui-icon-trash" title="Delete devices" 
                                    actionListener="#{devicesController.checkDevicesForDeletion()}"
                                    oncomplete="PF('deleteDevices').show();" update=":deleteDevicesForm:deleteDevices" 
                                    disabled="#{empty devicesController.selectedDevices or not securityPolicy.getUIHint('DEVICES_DELETE')}" />
                                <p:commandButton id="importButton" icon="ui-icon-arrowthickstop-1-n" value="Import" 
                                    title="Import devices from EXCEL template file" 
                                    oncomplete="PF('importDevices').show();" 
                                    disabled="#{not securityPolicy.getUIHint('DEVICES_ALL')}" update=":importDevicesForm" 
                                    actionListener="#{devicesController.prepareImportPopup()}" />
                                <p:commandButton id="exportButton" icon="ui-icon-disk" value="Export" 
                                    title="Export devices into EXCEL template file" 
                                    oncomplete="PF('exportDevices').show();" 
                                    disabled="#{devicesController.isDataTableEmpty()}" update=":exportDevForm:exportDevices" 
                                    actionListener="#{devicesController.simpleTableDialog.prepareTableExportPopup}" />
                                <p:commandButton id="duplicateButton" icon="ui-icon-copy" value="Duplicate"  
                                    title="Duplicate devices"
                                    disabled="#{empty devicesController.selectedDevices or not securityPolicy.getUIHint('DEVICES_CREATE')}" 
                                    oncomplete="PF('duplicateDialog').show();" update=":duplicateForm:duplicateDialog" />                
                            </p:panel>
                        </p:fieldset>
                    </p:column>
                    <p:column style="width: 50vw; vertical-align: top;">
                        <p:fieldset id="propFieldset" legend="Properties" style="box-sizing: border-box; height: calc(100vh - 7em)">
                            <div style="height: calc(100% - 3em)">
                                <rc:new-attribute-table id="attributesDataTable" controllerBean="#{deviceAttributesController}" 
                                    updateButtons=":devicesForm:editAttrButton :devicesForm:deleteAttrButton"
                                    parentName="Device" overlay="#{deviceAttributesController.overlay}" overlayPanel="attributeOverlayPanel"/>
                            </div>

                            <p:panel styleClass="buttonPanel">
                                <p:menuButton id="addButton" value="Add" 
                                        disabled="#{not devicesController.singleDeviceSelected 
                                                    or not securityPolicy.getUIHint('DEVICES_CREATE')}">
                                    <p:menuitem value="Tag" oncomplete="PF('addDeviceTag').show()" update=":addDeviceTagForm:addDeviceTag" 
                                            actionListener="#{deviceAttributesController.prepareForTagAdd}" title="Add tag" />
                                    <p:menuitem value="Artifact" oncomplete="PF('addArtifact').show()" 
                                            actionListener="#{deviceAttributesController.prepareForArtifactAdd}" 
                                            update=":addArtifactForm:addArtifact" title="Add artifact"/>
                                    <p:menuitem value="External Link" oncomplete="PF('addExternalLink').show();"
                                            actionListener="#{deviceAttributesController.prepareForExternalLinkAdd}"/>
                                </p:menuButton>
                                <p:commandButton id="editAttrButton" value="Edit" icon="ui-icon-pencil" title="Edit property"
                                    action="#{deviceAttributesController.prepareModifyPropertyPopUp()}" 
                                    update=":modifyPropertyValueForm :modifyArtifactForm" 
                                    disabled="#{not deviceAttributesController.singleAttributeSelected or 
                                                not deviceAttributesController.canEdit(deviceAttributesController.selectedAttributes.get(0))
                                                or not securityPolicy.getUIHint('DEVICES_MODIFY')}" />
                                <p:commandButton id="deleteAttrButton" value="Delete" icon="ui-icon-trash" 
                                    oncomplete="PF('deleteAttributes').show();"
                                    update=":deleteAttributesForm:deleteAttributes" title="Delete properties"
                                    actionListener="#{deviceAttributesController.checkAttributesForDeletion()}"
                                    disabled="#{empty deviceAttributesController.selectedAttributes 
                                                or not securityPolicy.getUIHint('DEVICES_DELETE')}" />
                            </p:panel>
                        </p:fieldset>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <script type="text/javascript">
                // <![CDATA[
                jQuery(document).ready(function() {
                    var $this = PF("devicesTableVar");

                    $this.sortableColumns.on("click.dataTable", function(e, metaKeyOn) {
                        $this.scrollBody.scrollTop(1);
                        $this.allLoadedLiveScroll = false;
                        $this.scrollOffset = 0;
                    });
                });

                function handleTypeSelection(deviceId, typeId) {
                    clearSelectedItems('devices');
                    addSelectedItem('devices', deviceId);
                    clearSelectedItems('deviceTypes');
                    addSelectedItem('deviceTypes', typeId);
                }
                // ]]>
            </script>

        </h:form>

        <ui:include src="/loaders/single-file-DL.xhtml">
            <ui:param name="formId" value="importDevicesForm" />
            <ui:param name="dialogTitle" value="Import Devices" />
            <ui:param name="widgetName" value="importDevices" />
            <ui:param name="controller" value="#{devicesController}" />
            <ui:param name="requestUrl" value="devices.xhtml" />
        </ui:include>

        <ui:include src="/resources/dialogs/device-add-or-modify-dialog.xhtml">
            <ui:param name="formId" value="deviceAddForm" />
            <ui:param name="widgetName" value="addDeviceDialog" />
            <ui:param name="dialogTitle" value="Add Device" />
            <ui:param name="updateComponents" value=":devicesForm:devicesTable :devicesForm:deleteButton 
                                                    :devicesForm:editButton :devicesForm:exportButton
                                                    :devicesForm:duplicateButton :devicesForm:growl" />
            <ui:param name="submitHandler" value="onDeviceAdd" />
            <ui:param name="batchCreation" value="true" />
            <ui:param name="saveAction" value="PF('devicesTableVar').clearFilters();PF('attributesDataTable').clearFilters();" />
        </ui:include>

        <ui:include src="/resources/dialogs/device-add-or-modify-dialog.xhtml">
            <ui:param name="formId" value="deviceEditForm" />
            <ui:param name="widgetName" value="editDeviceDialog" />
            <ui:param name="dialogTitle" value="Edit Device" />
            <ui:param name="updateComponents" value=":devicesForm:devicesTable :devicesForm:deleteButton 
                                                    :devicesForm:editButton :devicesForm:exportButton
                                                    :devicesForm:duplicateButton :devicesForm:growl
                                                    :devicesForm:attributesDataTable:attributesDataTable" />
            <ui:param name="submitHandler" value="onDeviceEdit" />
        </ui:include>

        <ui:include src="/resources/dialogs/property-value.xhtml">
            <ui:param name="formId" value="modifyPropertyValueForm" />
            <ui:param name="dialogTitle" value="Edit Property" />
            <ui:param name="widgetName" value="modifyPropertyValue" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="controller" value="#{deviceAttributesController}" />
            <ui:param name="submitHandler" value="modifyPropertyValue" />
            <ui:param name="componentToUpdate" value=":devicesForm:attributesDataTable:attributesDataTable :devicesForm:growl" />
        </ui:include>

        <ui:include src="/resources/dialogs/tag.xhtml">
            <ui:param name="formId" value="addDeviceTagForm" />
            <ui:param name="dialogTitle" value="Add Tag" />
            <ui:param name="widgetName" value="addDeviceTag" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="controller" value="#{deviceAttributesController}" />
            <ui:param name="submitHandler" value="addNewTag" />
            <ui:param name="componentToUpdate" value=":devicesForm:attributesDataTable:attributesDataTable :devicesForm:growl" />
        </ui:include>

        <ui:include src="/resources/dialogs/artifact.xhtml">
            <ui:param name="formId" value="addArtifactForm" />
            <ui:param name="dialogTitle" value="Add Artifact" />
            <ui:param name="widgetName" value="addArtifact" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="controller" value="#{deviceAttributesController}" />
            <ui:param name="submitHandler" value="modifyArtifact" />
            <ui:param name="componentToUpdate" value=":devicesForm:attributesDataTable:attributesDataTable :devicesForm:growl" />
        </ui:include>

        <ui:include src="/resources/dialogs/artifact.xhtml">
            <ui:param name="formId" value="modifyArtifactForm" />
            <ui:param name="dialogTitle" value="Edit Artifact" />
            <ui:param name="widgetName" value="modifyArtifact" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="controller" value="#{deviceAttributesController}" />
            <ui:param name="submitHandler" value="modifyArtifact" />
            <ui:param name="componentToUpdate" value=":devicesForm:attributesDataTable:attributesDataTable :devicesForm:growl" />
        </ui:include>
        
         <ui:include src="/resources/dialogs/external-link.xhtml" >
            <ui:param name="formId" value="addExternalLinkForm" />
            <ui:param name="dialogTitle" value="Add external link" />
            <ui:param name="widgetName" value="addExternalLink" />
            <ui:param name="controller" value="#{deviceAttributesController}" />
            <ui:param name="submitHandler" value="modifyExternalLink" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="componentToUpdate" value=":devicesForm:attributesDataTable:attributesDataTable :devicesForm:growl" />
        </ui:include>
        
        <ui:include src="/resources/dialogs/external-link.xhtml" >
            <ui:param name="formId" value="modifyExternalLinkForm" />
            <ui:param name="dialogTitle" value="Edit external link" />
            <ui:param name="widgetName" value="modifyExternalLink" />
            <ui:param name="controller" value="#{deviceAttributesController}" />
            <ui:param name="submitHandler" value="modifyExternalLink" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();"   />
            <ui:param name="componentToUpdate" value=":devicesForm:attributesDataTable:attributesDataTable :devicesForm:growl" />
        </ui:include>

        <ui:include src="/resources/dialogs/delete-multi-confirmation.xhtml" >
            <ui:param name="formId" value="deleteDevicesForm" />
            <ui:param name="dialogTitle" value="Delete Devices" />
            <ui:param name="widgetName" value="deleteDevices" />
            <ui:param name="controller" value="#{devicesController}" />
            <ui:param name="deletePreventionList" value="#{devicesController.usedDevices}" />
            <ui:param name="deleteList" value="#{devicesController.selectedDevices}" />
            <ui:param name="filteredDialogList" value="#{devicesController.filteredDialogDevices}" />
            <ui:param name="submitHandler" value="onDeviceDelete" />
            <ui:param name="formsToUpdate" value=":devicesForm:attributesDataTable:attributesDataTable 
                                                    :devicesForm:editAttrButton :devicesForm:deleteAttrButton
                                                    :devicesForm:duplicateButton :devicesForm:deleteButton
                                                    :devicesForm:editButton 
                                                    :devicesForm:exportButton :devicesForm:growl" />
            <ui:param name="closeDialogActions" value="PF('devicesTableVar').clearFilters();PF('attributesDataTable').clearFilters();" />
            <ui:param name="entityType" value="devices" />
            <ui:param name="entityName" value="Device" />
        </ui:include>

        <ui:include src="/resources/dialogs/duplicate-confirmation.xhtml" >
            <ui:param name="formId" value="duplicateForm" />
            <ui:param name="controller" value="#{devicesController}" />
            <ui:param name="duplicateList" value="#{devicesController.selectedDevices}" />
            <ui:param name="filteredDuplicateList" value="#{devicesController.filteredDialogDevices}" />
            <ui:param name="formsToUpdate" value=":devicesForm:devicesTable :devicesForm:duplicateButton :devicesForm:editButton 
                                  :devicesForm:deleteButton :devicesForm:attributesDataTable:attributesDataTable :devicesForm:growl" />
            <ui:param name="closeDialogActions" 
                        value="PF('devicesTableVar').clearFilters(); PF('attributesDataTable').clearFilters();" />
            <ui:param name="entityType" value="devices" />
            <ui:param name="entityName" value="Device" />
        </ui:include>

        <ui:include src="/resources/dialogs/delete-multi-confirmation.xhtml" >
            <ui:param name="formId" value="deleteAttributesForm" />
            <ui:param name="dialogTitle" value="Delete Properties" />
            <ui:param name="widgetName" value="deleteAttributes" />
            <ui:param name="controller" value="#{deviceAttributesController}" />
            <ui:param name="deletePreventionList" value="#{deviceAttributesController.nonDeletableAttributes}" />
            <ui:param name="deleteList" value="#{deviceAttributesController.selectedAttributes}" />
            <ui:param name="submitHandler" value="deleteAttributes" />
            <ui:param name="filteredDialogList" value="#{deviceAttributesController.filteredDialogAttributes}" />
            <ui:param name="formsToUpdate" value=":devicesForm:attributesDataTable:attributesDataTable 
                                                    :devicesForm:editAttrButton :devicesForm:deleteAttrButton
                                                    :devicesForm:duplicateButton :devicesForm:exportButton
                                                    :devicesForm:deleteButton :devicesForm:growl" />
            <ui:param name="closeDialogActions" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="entityType" value="properties" />
            <ui:param name="entityName" value="Property" />
        </ui:include>

        <ui:include src="/resources/dialogs/batch-creation-conflict.xhtml">
            <ui:param name="formId" value="batchConflictForm" />
            <ui:param name="dialogTitle" value="Conflicting Devices" />
            <ui:param name="widgetName" value="batchConflict" />
            <ui:param name="entity" value="devices" />
            <ui:param name="entityListing" value="#{devicesController.batchSerialConflicts}" />
            <ui:param name="relatedDialog" value="addDeviceDialog" />
            <ui:param name="controller" value="#{devicesController}" />
            <ui:param name="submitHandler" value="creationProceed" />
            <ui:param name="formToUpdate" value=":devicesForm:devicesTable :devicesForm:deleteButton 
                                                :devicesForm:editButton :devicesForm:duplicateButton :devicesForm:growl" />
            <ui:param name="saveActions" value="" />
        </ui:include>

        <ui:include src="/resources/dialogs/export-table.xhtml">
            <ui:param name="formId" value="exportDevForm" />
            <ui:param name="widgetName" value="exportDevices" />
            <ui:param name="dialogTitle" value="Export Devices" />
            <ui:param name="fileFormatSelection" value="#{devicesController.simpleTableDialog.fileFormat}" />
            <ui:param name="includeHeader" value="#{devicesController.simpleTableDialog.includeHeaderRow}" />
            <ui:param name="tableFile" value="#{devicesController.simpleTableDialog.exportedTable}" />
            <ui:param name="showLongOperationWarning" value="true" />
        </ui:include>

        <ui:include src="/resources/dialogs/overlay-value.xhtml">
            <ui:param name="formId" value="attributeOverlayPanel" />
            <ui:param name="valueProvider" value="#{deviceAttributesController.overlay}" />
        </ui:include>

    </ui:define>
</ui:composition>
