<ui:composition template="/template/template.xhtml" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <h:form id="enumsForm">
            <p:growl id="growl" showDetail="true" globalOnly="true"/>
            <p:fieldset id="enumsFieldset" legend="Enumerations" style="box-sizing: border-box; height: calc(100vh - 7em);">
                <div style="height: calc(100% - 3em)">
                    <p:dataTable widgetVar="enumsTableVar" var="enum" id="enumsTable" value="#{dataTypeManager.lazyModel}" 
                            scrollable="true" scrollHeight="100%" scrollWidth="100%" emptyMessage="No records found." 
                            selection="#{dataTypeManager.selectedEnums}" selectionMode="multiple" rowKey="#{enum.enumeration.id}" 
                            resizableColumns="true" tableStyle="word-wrap: break-word;" 
                            lazy="true" liveScroll="true" scrollRows="200" rows="200" style="overflow: hidden" >
                        <p:ajax event="filter" update=":enumsForm:exportButton" 
                                oncomplete="resetLiveTableState(PF('enumsTableVar')); saveFilter();" />
                        <p:ajax event="rowSelect" update=":enumsForm:deleteButton :enumsForm:editButton 
                                :enumsForm:duplicateButton" onstart="tablePreSelect('enumsTableVar');" 
                                oncomplete="copyTableSelection('enumsTableVar');" />
                        <p:ajax event="rowUnselect" update=":enumsForm:deleteButton :enumsForm:editButton 
                                :enumsForm:duplicateButton" onstart="tablePreDeselect('enumsTableVar');" 
                                oncomplete="copyTableSelection('enumsTableVar');" />
                        <p:column headerText="Name" sortBy="#{enum.name}" filterBy="#{enum.name}" width="10%" 
                                filterMatchMode="contains">
                                <f:facet name="filter">
                                    <p:inputText id="nameFilter" onkeyup="PF('enumsTableVar').filter()"/>
                                </f:facet>
                            <h:outputText value="#{enum.name}" />
                        </p:column>

                        <p:column headerText="Description" sortBy="#{enum.description}" filterBy="#{enum.description}" 
                                width="30%" filterStyle="width: 20em;" filterMatchMode="contains">
                                <f:facet name="filter">
                                    <p:inputText id="descriptionFilter" onkeyup="PF('devicesTableVar').filter()"/>
                                </f:facet>
                            <h:outputText value="#{enum.description}" />
                        </p:column>

                        <p:column headerText="Definition" sortBy="#{enum.displayDefinition}" style="width: 50%;" 
                                filterBy="#{enum.displayDefinition}" filterMatchMode="contains">
                                <f:facet name="filter">
                                    <p:inputText id="definitionFilter" onkeyup="PF('devicesTableVar').filter()"/>
                                </f:facet>
                            <h:outputText value="#{enum.displayDefinition}" />
                        </p:column>
                    </p:dataTable>
                </div>

                <p:panel styleClass="buttonPanel">
                    <p:commandButton actionListener="#{dataTypeManager.prepareAddPopup}" value="Add"
                        title="Add enumeration" icon="ui-icon-plus" 
                        disabled="#{not securityPolicy.getUIHint('ENUM_CREATE')}"
                        oncomplete="PF('addEnum').show();" update=":addEnumForm:addEnum" />
                    <p:commandButton id="editButton" icon="ui-icon-pencil" value="Edit" title="Edit enumeration" 
                        update=":modifyEnumForm:modifyEnum" 
                        disabled="#{not dataTypeManager.singleEnumSelected or not securityPolicy.getUIHint('ENUM_MODIFY')}" 
                        oncomplete="PF('modifyEnum').show();" actionListener="#{dataTypeManager.prepareModifyPopup}" />
                    <p:commandButton id="deleteButton" icon="ui-icon-trash" value="Delete" title="Delete enumerations" 
                        oncomplete="PF('deleteEnums').show();" 
                        disabled="#{empty dataTypeManager.selectedEnums or not securityPolicy.getUIHint('ENUM_DELETE')}" 
                        update=":deleteEnumsForm:deleteEnums" actionListener="#{dataTypeManager.checkEnumsForDeletion()}" />
                    <p:commandButton id="importButton" icon="ui-icon-arrowthickstop-1-n" value="Import" 
                        title="Import enumerations from EXCEL template file" 
                        oncomplete="PF('importEnums').show();" 
                        disabled="#{not securityPolicy.getUIHint('ENUM_ALL')}" update=":importEnumsForm" 
                        actionListener="#{dataTypeManager.prepareImportPopup()}" />
                    <p:commandButton id="exportButton" icon="ui-icon-disk" value="Export" 
                        title="Export enumerations into EXCEL template file" 
                        oncomplete="PF('exportEnums').show();" 
                        disabled="#{empty dataTypeManager.isDataTableEmpty()}" update=":exportEnumsForm:exportEnums" 
                        actionListener="#{dataTypeManager.simpleTableDialog.prepareTableExportPopup}" />
                    <p:commandButton id="duplicateButton" icon="ui-icon-copy" value="Duplicate" title="Duplicate enumerations" 
                        disabled="#{empty dataTypeManager.selectedEnums or not securityPolicy.getUIHint('ENUM_CREATE')}" 
                        oncomplete="PF('duplicateDialog').show();" update=":duplicateForm:duplicateDialog" />                       
                </p:panel>
            </p:fieldset>

            <script type="text/javascript">
                // <![CDATA[
                jQuery(document).ready(function() {
                    var $this = PF("enumsTableVar");

                    $this.sortableColumns.on("click.dataTable", function(e, metaKeyOn) {
                        $this.scrollBody.scrollTop(1);
                        $this.allLoadedLiveScroll = false;
                        $this.scrollOffset = 0;
                    });
                });
                // ]]>
            </script>

        </h:form>

        <ui:include src="/loaders/single-file-DL.xhtml">
            <ui:param name="formId" value="importEnumsForm" />
            <ui:param name="dialogTitle" value="Import Enumerations" />
            <ui:param name="widgetName" value="importEnums" />
            <ui:param name="controller" value="#{dataTypeManager}" />
            <ui:param name="requestUrl" value="enums.xhtml" />
        </ui:include>

        <ui:include src="/resources/dialogs/delete-multi-confirmation.xhtml" >
            <ui:param name="formId" value="deleteEnumsForm" />
            <ui:param name="dialogTitle" value="Delete Enumerations" />
            <ui:param name="widgetName" value="deleteEnums" />
            <ui:param name="controller" value="#{dataTypeManager}" />
            <ui:param name="deletePreventionList" value="#{dataTypeManager.usedEnums}" />
            <ui:param name="deleteList" value="#{dataTypeManager.selectedEnums}" />
            <ui:param name="filteredDialogList" value="#{dataTypeManager.filteredDialogEnums}" />
            <ui:param name="submitHandler" value="onDelete" />
            <ui:param name="formsToUpdate" value=":enumsForm:enumsTable :enumsForm:deleteButton 
                                                :enumsForm:editButton :enumsForm:exportButton 
                                                :enumsForm:duplicateButton :enumsForm:growl" />
            <ui:param name="closeDialogActions" value="PF('enumsTableVar').clearFilters();" />
            <ui:param name="entityType" value="enumerations" />
            <ui:param name="entityName" value="Enumeration" />
        </ui:include>

        <ui:include src="/resources/dialogs/duplicate-confirmation.xhtml" >
            <ui:param name="formId" value="duplicateForm" />
            <ui:param name="controller" value="#{dataTypeManager}" />
            <ui:param name="duplicateList" value="#{dataTypeManager.selectedEnums}" />
            <ui:param name="filteredDuplicateList" value="#{dataTypeManager.filteredDialogEnums}" />
            <ui:param name="formsToUpdate" value=":enumsForm:enumsTable :enumsForm:deleteButton :enumsForm:editButton 
                                                :enumsForm:duplicateButton :enumsForm:growl" />
            <ui:param name="closeDialogActions" value="PF('enumsTableVar').clearFilters();" />
            <ui:param name="entityType" value="enumerations" />
            <ui:param name="entityName" value="Enumeration" />
        </ui:include>

        <ui:include src="/resources/dialogs/add-or-modify-enum.xhtml">
            <ui:param name="formId" value="modifyEnumForm" />
            <ui:param name="dialogTitle" value="Edit Enumeration" />
            <ui:param name="widgetName" value="modifyEnum" />
            <ui:param name="submitHandler" value="onModify" />
            <ui:param name="componentToUpdate" value=":enumsForm:enumsTable :enumsForm:deleteButton 
                                                :enumsForm:editButton :enumsForm:growl" />
            <ui:param name="closeDialogActions" value="PF('enumsTableVar').clearFilters();" />
        </ui:include>

        <ui:include src="/resources/dialogs/add-or-modify-enum.xhtml">
            <ui:param name="formId" value="addEnumForm" />
            <ui:param name="dialogTitle" value="Add Enumeration" />
            <ui:param name="widgetName" value="addEnum" />
            <ui:param name="submitHandler" value="onAdd" />
            <ui:param name="componentToUpdate" value=":enumsForm:enumsTable :enumsForm:deleteButton 
                                                :enumsForm:editButton :enumsForm:exportButton 
                                                :enumsForm:duplicateButton :enumsForm:growl" />
            <ui:param name="closeDialogActions" value="PF('enumsTableVar').clearFilters();" />
        </ui:include>

        <ui:include src="/resources/dialogs/export-table.xhtml">
            <ui:param name="formId" value="exportEnumsForm" />
            <ui:param name="widgetName" value="exportEnums" />
            <ui:param name="dialogTitle" value="Export Enumerations" />
            <ui:param name="fileFormatSelection" value="#{dataTypeManager.simpleTableDialog.fileFormat}" />
            <ui:param name="includeHeader" value="#{dataTypeManager.simpleTableDialog.includeHeaderRow}" />
            <ui:param name="tableFile" value="#{dataTypeManager.simpleTableDialog.exportedTable}" />
        </ui:include>
    </ui:define>
</ui:composition>
