<ui:composition template="/template/template.xhtml" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <h:form id="logsForm">
            <p:growl id="growl" showDetail="true" globalOnly="true"/>
            <p:fieldset legend="Log" id="logFieldset" style="box-sizing: border-box; height: calc(100vh - 7em);">
                <div style="height: calc(100% - 3em)">
                    <p:dataTable widgetVar="logTableVar" var="auditRecord" id="logTable" value="#{auditManager.lazyModel}" 
                            scrollable="true" scrollHeight="100%" scrollWidth="100%" 
                            resizableColumns="true" tableStyle="word-wrap: break-word;" emptyMessage="No records found." 
                            lazy="true" liveScroll="true" scrollRows="200" rows="200" style="overflow: hidden" >
                        <p:ajax event="filter" ignoreAutoUpdate="true" update=":logsForm:exportButton" oncomplete="saveFilter();"/>

                        <p:column headerText="Timestamp" filterBy="#{auditRecord.logTimeFormatted}" 
                                sortBy="#{auditRecord.logTimeFormatted}" filterMatchMode="contains">
                                <f:facet name="filter">
                                    <p:inputText id="timestampFilter" onkeyup="PF('logTableVar').filter()"/>
                                </f:facet>
                            <h:outputText value="#{auditManager.convertTimestampToString(auditRecord.logTime)}" />
                        </p:column>

                        <p:column headerText="User" sortBy="#{auditRecord.user}" filterBy="#{auditRecord.user}" 
                                 filterMatchMode="contains">
                                 <f:facet name="filter">
                                    <p:inputText id="userFilter" onkeyup="PF('logTableVar').filter()"/>
                                </f:facet>
                            <h:outputText value="#{auditRecord.user}" />
                        </p:column>

                        <p:column headerText="Operation" sortBy="#{auditRecord.oper}" filterBy="#{auditRecord.oper}" 
                                filterMatchMode="exact" filterOptions="#{auditManager.auditOperations}">
                                <f:facet name="filter">
                                    <p:inputText id="operationFilter" onkeyup="PF('logTableVar').filter()"/>
                                </f:facet>
                            <h:outputText value="#{auditRecord.oper}" />
                        </p:column>

                        <p:column headerText="Entity Name" sortBy="#{auditRecord.entityKey}" filterBy="#{auditRecord.entityKey}" 
                                 filterMatchMode="contains">
                                 <f:facet name="filter">
                                    <p:inputText id="entitynameFilter" onkeyup="PF('logTableVar').filter()"/>
                                </f:facet>
                            <h:outputText value="#{auditRecord.entityKey}" />
                        </p:column>

                        <p:column headerText="Entity Type" sortBy="#{auditRecord.entityType}" filterBy="#{auditRecord.entityType}" 
                                filterMatchMode="exact" filterOptions="#{auditManager.entityTypes}">
                                <f:facet name="filter">
                                    <p:inputText id="entityTypeFilter" onkeyup="PF('logTableVar').filter()"/>
                                </f:facet>
                            <h:outputText value="#{auditRecord.entityType.label}" />
                        </p:column>

                        <p:column headerText="Entity ID" sortBy="#{auditRecord.entityId}" filterBy="#{auditRecord.entityId}" 
                                filterMatchMode="contains">
                                <f:facet name="filter">
                                    <p:inputText id="entityIdFilter" onkeyup="PF('logTableVar').filter()"/>
                                </f:facet>
                            <h:outputText value="#{auditRecord.entityId}" />
                        </p:column>

                        <p:column headerText="Change" sortBy="#{auditRecord.entry}" filterBy="#{auditRecord.entry}" filterMatchMode="contains">
                        <f:facet name="filter">
                                    <p:inputText id="changeFilter" onkeyup="PF('logTableVar').filter()"/>
                                </f:facet>
                            <p:commandLink id="logDetails" update=":logDetailsPanel" oncomplete="PF('logDetailsPanel').show('#{component.clientId}');">
                                <f:setPropertyActionListener target="#{auditManager.overlay.value}" value="#{auditRecord.entry}" />
                                <h:outputText value="#{auditRecord.entry.length() lt 46 ? auditRecord.entry : auditRecord.entry.substring(0,45).concat('...')}" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </div>

                <p:panel styleClass="buttonPanel">
                    <p:commandButton id="exportButton" icon="ui-icon-disk" value="Export" title="Export log" 
                        oncomplete="PF('exportLogs').show();" 
                        disabled="#{auditManager.isDataTableEmpty()}" update=":exportLogsForm:exportLogs" 
                        actionListener="#{auditManager.simpleTableDialog.prepareTableExportPopup}" />
                </p:panel>
            </p:fieldset>

            <script type="text/javascript">
                // <![CDATA[
                jQuery(document).ready(function() {
                    var $this = PF("logTableVar");

                    $this.sortableColumns.on("click.dataTable", function(e, metaKeyOn) {
                        $this.scrollBody.scrollTop(1);
                        $this.allLoadedLiveScroll = false;
                        $this.scrollOffset = 0;
                    });
                });
                // ]]>
            </script>

        </h:form>

        <ui:include src="/resources/dialogs/overlay-value.xhtml">
            <ui:param name="formId" value="logDetailsPanel" />
            <ui:param name="valueProvider" value="#{auditManager.overlay}" />
        </ui:include>

        <ui:include src="/resources/dialogs/export-table.xhtml">
            <ui:param name="formId" value="exportLogsForm" />
            <ui:param name="widgetName" value="exportLogs" />
            <ui:param name="dialogTitle" value="Export Log" />
            <ui:param name="fileFormatSelection" value="#{auditManager.simpleTableDialog.fileFormat}" />
            <ui:param name="includeHeader" value="#{auditManager.simpleTableDialog.includeHeaderRow}" />
            <ui:param name="tableFile" value="#{auditManager.simpleTableDialog.exportedTable}" />
        </ui:include>
    </ui:define>
</ui:composition>
