<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:p="http://primefaces.org/ui"
  xmlns:rc="http://java.sun.com/jsf/composite/comps"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="dropmenuform">

    <p:growl id="messages" showDetail="true" sticky="false" life="5000" />
    
    <p:menubar id="mainDropMenu">
    
    
    <p:submenu label="Templates" icon="ui-icon-calculator">
                <p:menuitem value="Slots" title="Download EXCEL template file for slots and containers"
                    url="/resources/templates/ccdb_slots.xlsx" />
                <p:menuitem value="Signals List" title="Download EXCEL template file for signals"
                    url="/resources/templates/ccdb_signals_list.xlsx" />
                <p:menuitem value="Devices" title="Download EXCEL template file for devices"
                    url="/resources/templates/ccdb_devices.xlsx" />
                <p:menuitem value="Device Types" title="Download EXCEL template file for device types"
                    url="/resources/templates/ccdb_device_types.xlsx" />
                <p:menuitem value="Properties" title="Download EXCEL template file for properties"
                    url="/resources/templates/ccdb_properties.xlsx" />
                <p:menuitem value="Enumerations" title="Download EXCEL template file for enumerations"
                    url="/resources/templates/ccdb_enumerations.xlsx" />
                <p:menuitem value="Units" title="Download EXCEL template file for units"
                    url="/resources/templates/ccdb_units.xlsx" />
            </p:submenu>

            <p:submenu label="Help" icon="ui-icon-help">
                <p:menuitem value="Conventions" title="Download conventions" 
                    url="/resources/help/ccdb_conventions.pdf" target="_blank"/>
            </p:submenu>

            <f:facet name="options">
                <p:outputPanel layout="inline" style="font-size: smaller; font-style: italic;">
                 <p:commandButton title="Empty view setting stored in cookie." icon="ui-icon-arrowrefresh-1-w" onstart="PF('statusDialog').show(); clearCookie();"
                 oncomplete="PF('statusDialog').hide();"/>
                    <p:commandButton title="Refresh cache and database validity." icon="ui-icon-refresh"
                            onstart="delayedSpinnerStart();" oncomplete="delayedSpinnerStop(); location.reload();"
                            actionListener="#{refreshManager.refresh()}" />
                </p:outputPanel>
                <rc:logincomp ajax="false" />
            </f:facet>


    </p:menubar>
  </h:form>

</ui:composition>
