<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:p="http://primefaces.org/ui"
  xmlns:rc="http://java.sun.com/jsf/composite/comps"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="tabmenuform">

    <p:tabMenu id="mainTabMenu" activeIndex="${menuController.activeIndex}">
      
            <p:menuitem value="Home" title="View slots and containers" url="/" icon="ui-icon-home" 
                styleClass="#{request.requestURI.endsWith('home.xhtml') ? 'menu-selected' : ''}"  />

            <p:menuitem value="Devices" title="View devices" url="/devices.xhtml" icon="ui-icon-gear" 
                styleClass="#{request.requestURI.endsWith('devices.xhtml') ? 'menu-selected' : ''}" />

            <p:menuitem value="Device Types" title="View device types" url="/device-types.xhtml" icon="ui-icon-wrench" 
                styleClass="#{request.requestURI.endsWith('device-types.xhtml') ? 'menu-selected' : ''}" />

            <p:menuitem value="Properties" title="View properties" url="/properties.xhtml"
                styleClass="#{request.requestURI.endsWith('properties.xhtml') ? 'menu-selected' : ''}" icon="ui-icon-contact" />

            <p:menuitem value="Enumerations" title="View enumerations" url="/enums.xhtml"
                styleClass="#{request.requestURI.endsWith('enums.xhtml') ? 'menu-selected' : ''}" icon="ui-icon-radio-off" />

            <p:menuitem value="Units" title="View units" url="/units.xhtml" icon="ui-icon-folder-open" 
                styleClass="#{request.requestURI.endsWith('units.xhtml') ? 'menu-selected' : ''}" />

            <p:menuitem value="Log" icon="ui-icon-script" title="View log" url="/log.xhtml"
                styleClass="#{request.requestURI.endsWith('log.xhtml') ? 'menu-selected' : ''}" />
    </p:tabMenu>
  </h:form>

</ui:composition>
